/* Fuente General */
div {
  font-family: 'Roboto', sans-serif;
  font-size: 1.15rem;

  user-select: none;
}

.sg-button {
  background-color: transparent;
  color: white; 
  border: none;
  padding: 0.4rem;
  cursor: pointer;
}

.sg-button:hover {
  background-color: #ffffff1f;
  border-radius: 1.5rem;
}

.sg-input  {
  display: flex;
  align-items: center;

  padding-right: 2.5rem;
  padding: 0.75rem 1rem;
  
  color: white;

  outline: thick;
}

.sg-input::placeholder {
  color: white;
  opacity: 0.7;
}


/************************************* Personalización del scroll *****************************************/

/* Estilo del contenedor del scrollbar */
::-webkit-scrollbar {
  width: 12px; /* Ancho del scroll vertical */
  height: 12px; /* Altura del scroll horizontal */

  margin-right: 0.5em;
}

/* Estilo del track (fondo del scrollbar) */
::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1); /* Color del fondo */
  border-radius: 0.5em; /* Bordes redondeados */
}

/* Estilo del thumb (barra que se mueve) */
::-webkit-scrollbar-thumb {
  background: none; /* Color de la barra */
  border-radius: 0.5em; /* Bordes redondeados */
  border: 2px solid var(--button-border-color); /* Espaciado entre el thumb y el track */
}


/* ::-webkit-scrollbar-thumb:hover { /*Color al pasar el mouse 
  background: var(--button-hover-bg-color);
 }  */

/* Estilo del scrollbar en estado activo
::-webkit-scrollbar-thumb:active {
   background: var(--button-active-bg-color); Color al hacer clic 
} */