/* Desktop */
/* @media screen and (min-width: 1200px) { */

  :root {
    --component-width: 100%;
    --component-gap: 1rem;
    --component-left: 1rem;
    --component-top: 1.5rem;
    --component-bottom: 1.5rem;
    --component-position: fixed;
    --component-z-index: 10;
    --dropdown-max-height: 150px;
    --map-width: 200%;
    --map-height: 400%;
    --map-transform-duration: 0.9s;
    --button-size: 2em;
    --divider-height: 1.5rem;
    --divider-color: #ccc;
    --input-bg-color: transparent;
    --dropdown-top: 15%;
    --dropdown-right: 0.5%;
    --dropdown-z-index: 15;
    --map-container-overflow: hidden;
    --map-interactive-z-index: 5;
    --button-option-size: 4em;
    --button-info-height: 2em;

    /* --zoom-button-font-size: 1rem;

    --header-font-size: 1.2rem;
    --dropdown-font-size: 1rem;
    --button-font-size: 1rem;
    --info-text-font-size: 0.9rem;
    --option-font-size: 0.85rem; */

    /* FONT-SIZE */
    --zoom-button-font-size: 1rem;
    --header-font-size: 1.2rem;

    --dropdown-fontH1-size: .75rem;
    --dropdown-fontTime-size: .75rem;
    --button-font-size: .6rem;
  
    --info-text-font-size: 0.9rem;
    --option-font-size: 0.85rem;

    /* GAP */
    --dropdown-infoContent-gap: 0.1em;

    /* PADDING */
    --dropdown-output-padding: 0.35em;
    --dropdown-contentAulas-padding: 0.35em;

    /* WIDTH and HEIGTH */
    --dropdown-svg-width: 15px;
  }
  
/* } */