@media (prefers-color-scheme: light) {
  :root {
    display: block;
    position: fixed;

    color: #213547;
    background-color: rgb(13, 6, 67);

    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 30, 27, 75;
    --background-end-rgb: 20, 17, 45;

    /* Ajusta valores extremos */
    width: 100%;
    height: 100%;
  }
}

.dark-mode {
  color: #f1f1f1;
  background-color: #333;
}

/* Media query para pantallas más pequeñas (móviles) */
@media (max-width: 768px) {
  :root {
    /* Ajusta los estilos según sea necesario para móviles */
    font-size: 16px; /* Por ejemplo, ajusta el tamaño de la fuente */

    /* Asegura consistencia en el diseño */
    width: 100%;
    height: auto;
  }
}