.sg-dropdown-contentBuilder {
  /* Modelo de diseño dinamico*/
  display: flex;
  flex-direction: column; /*Alinear elementos hijos*/
  justify-content: flex-start; /*Alinear elementos hijos*/
  align-items: center;

  /* Color de fondo*/
  background-color: #33333357;
  /* Color del texto*/
  color:white;

  /* Espaciado interno */


  padding: 1rem auto;
  

  position: fixed; /* O fixed si quieres que se quede fijo al hacer scroll */
  top: 15%; /* Ajusta la posición vertical */
  right: .5%; /* Lo alinea al lado derecho */
  height: 75%; /* Ajusta la altura */
  width: 20%; /* Ajusta el ancho */
}

.sg-dropDownInfo-content {
  display: flex;
  flex-direction: column; /*Alinear elementos hijos*/
  justify-content: flex-end; /*Alinear elementos hijos*/
  align-items: center;


  padding: 1rem;
  margin: 1rem;
  border-radius: 5px;
}

/* Horario */
.sg-dropDownInfo-contentHorario{
  display: flex;
  flex-direction: column; /*Alinear elementos hijos*/
  justify-content: flex-end; /*Alinear elementos hijos*/
  align-items: center;

  padding-top: .5rem;

  font-size: small;
}

.sg-dropDownInfo-contentHoras{
  display: flex;
  flex-direction: row; /*Alinear elementos hijos*/
  justify-content: flex-end; /*Alinear elementos hijos*/
  align-items: center;

  gap: .5rem;
  
  border: 2px solid rgb(111, 0, 255);
  border-radius: .5rem;

  padding: .5rem;
}

.sg-dropDownInfo-contentAulas{
  display: flex;
  flex-direction: row; /*Alinear elementos hijos*/
  position: relative;
  min-height: 8%;

  padding-bottom: .35rem;
}

.sg-dropDown-contentAulas{
  display: flex;
  flex-direction: column; /*Alinear elementos hijos*/
  position: relative;
  min-height: 6%;
  cursor: pointer;

  align-content: flex-start; /* Cambio a flex-start para alinear al inicio */
  justify-content: flex-start; /* Cambio a flex-start para alinear al inicio */
  width: 100%;

  padding: .1rem; /*Espacio del contenedor*/
  margin: .2rem; /*Espacio entre elementos externos*/
  gap: .2rem;  /*Espacio entre elementos internos*/

  border-radius: 5px;

  overflow-y: auto; /* Agrega scroll vertical cuando el contenido excede el tamaño */
  max-height: 150px; /* Ajusta la altura máxima según sea necesario */
}

.sg-aulaLibre{
  border: 2px solid rgb(0, 255, 42);
  border-radius: 1.5rem;

  background-color: rgba(14, 124, 0, 0.226);

  &:hover{
    background-color: rgba(14, 124, 0, 0.426);
  }
}

.sg-aulaOcupada{
  border: 2px solid rgb(255, 119, 0);
  border-radius: 1.5rem;

  background-color: rgba(121, 32, 0, 0.178);

  &:hover{
    background-color: rgba(121, 32, 0, 0.378);
  }
}


/* Estilos para el grupo de botones */
.button-group {
  display: flex;
  gap: 0.5rem; /* Espacio entre los botones */
  margin-bottom: 0.5rem;
}

/* Estilos para los botones */
.button-group button {
  padding: 0.5rem 1rem;
  border: 1px solid #5a2cff;
  color: white;
  border-radius: 5rem;
  background-color: transparent;
  cursor: pointer;
}

/* Estilo para el botón activo */
.button-group button.active {
  background-color: #5a2cff;
  color: white;
  border: none;
}

/* Estilo para el hover */
.button-group button:hover {
  background-color: #7c58ff;
}