:root {
    --border: 2px;
    --padding-button: 0.5rem;
    --button-gap: 0.5rem;
    --button-radius: 5rem;
    --button-bg-color: transparent;
    --button-border-color: #5a2cff;
    --button-hover-bg-color: #7c58ff;
    --button-active-bg-color: #5a2cff;
    --button-text-color: white;
    --button-font-size: var(--button-font-size);

    --componentInfo-img-gap: 0.35em;

    --zoom-bg-color: rgba(51, 51, 51, 0.25);
    --zoom-padding: 0.9em;
    --zoom-gap: 0.35rem;
    --zoom-border-radius: 1.5em;
    --zoom-button-bg-color: white;
    --zoom-button-font-size: var(--zoom-button-font-size);
    --zoom-button-color: #0a0a40;
    --zoom-button-hover-bg-color: #f3f4f6;
    --zoom-button-border-radius: 1.5em;

    --header-bg-color: rgba(132, 0, 255, 0.25);
    --header-hover-bg-color: #8400ffa2;
    --header-hover-text-color: rgb(0, 247, 255);
    --header-padding: 0.5rem;
    --header-border-radius: 1.5rem;
    --header-divider-color: rgba(255, 255, 255, 0.3);
    --header-font-size: var(--header-font-size);
    --header-content-padding: var(--header-content-padding);
    --header-children-display: var(--header-children-display);

    --dropdown-bg-color: rgba(51, 51, 51, 0.35);
    --dropdown-padding: 1em 0.75em;
    --dropdown-gap: 0.1em;
    --dropdown-border-radius: 0.4rem;
    --dropdown-infoContent-gap: var(--dropdown-infoContent-gap);
    --dropdown-fontH1-size: var(--dropdown-fontH1-size);
    --dropdown-fontTime-size: var(--dropdown-fontTime-size);
    --dropdown-output-gap: var(--dropdown-output-gap);
    --dropdown-contentAulas-padding: var(--dropdown-contentAulas-padding);
    --dropdown-svg-width: var(--dropdown-svg-width);
    --dropdown-contentAula-padding: var(--dropdown-contentAula-padding);
    --dropdown-children-display: var(--dropdown-children-display);

    --aula-libre-border-color: rgb(0, 255, 42);
    --aula-libre-bg-color: rgba(14, 124, 0, 0.226);
    --aula-libre-hover-bg-color: rgba(14, 124, 0, 0.426);

    --aula-ocupada-border-color: rgb(255, 119, 0);
    --aula-ocupada-bg-color: rgba(121, 32, 0, 0.178);
    --aula-ocupada-hover-bg-color: rgba(121, 32, 0, 0.378);

    --button-option-bg-color: gray;
    --button-option-hover-bg-color: rgb(141, 141, 141);
    --button-info-bg-color: rgb(107, 236, 236);
    --button-info-hover-bg-color: rgb(114, 255, 255);
    --button-info-text-color: rgb(0, 159, 187);
    --button-option-active-bg-color: rgb(0, 187, 187);
}

/******************************* Main-Zoom ************************************/

article.sg-zoomMap {
    background-color: var(--zoom-bg-color);
    padding: var(--zoom-padding);
    gap: var(--zoom-gap);
    border-radius: var(--zoom-border-radius);
}

.sg-zoomMap button {
    background-color: var(--zoom-button-bg-color);
    font-size: var(--zoom-button-font-size);
    color: var(--zoom-button-color);
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    transition: background-color 0.2s ease-in-out;
}

.sg-zoomMap button:hover {
    background-color: var(--zoom-button-hover-bg-color);
}

.sg-zoomMap-in, .sg-zoomMap-out {
    border-radius: var(--zoom-button-border-radius)
}

/******************************* Main-Header ************************************/

.sg-headerInfo-builder {
    color: aliceblue;
    padding: var(--header-padding);
    border-radius: var(--header-border-radius);
}

.sg-headerInfo-builder__left,
.sg-headerInfo-builder__right {
    border: var(--border) solid rgba(240, 248, 255, 0.425);
    padding: 0.25em;
    border-radius: var(--header-border-radius);
}

.sg-headerInfo-timeDisplay {
    gap: var(--componentInfo-img-gap);
  }

.sg-headerLogin-button {
    background-color: var(--header-bg-color);
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s, color 0.4s;
    gap: var(--button-gap);
    padding: var(--padding-button) 1rem;
    border-radius: var(--header-border-radius);
}

.sg-headerLogin-button:hover {
    background-color: var(--header-hover-bg-color);
    color: var(--header-hover-text-color);
}

.sg-headerInfo-divider {
    background-color: var(--header-divider-color);
    margin: 0 1rem;
}

svg {
    width: var(--dropdown-svg-width);
}

span.sg-header-font {
    display: var(--header-children-display);
}

/******************************* Main-Dropdown ************************************/

button.sg-buttonInfo {
    display: var(--dropdown-children-display);
}

.sg-dropdown-contentBuilder {
    background-color: var(--dropdown-bg-color);
    color: white;
    padding: var(--dropdown-padding);
    gap: var(--dropdown-gap);
    border-radius: var(--dropdown-border-radius);
}

.sg-dropDownInfo-content{
    gap: var(--dropdown-infoContent-gap);
}

.sg-dropDownInfo-contentAulas{
    padding-bottom: var(--dropdown-contentAulas-padding);
}

.sg-dropDownInfo-hora{
    border: 1px solid var(--button-border-color);
}

.sg-dropDownInfo-contentHoras {
    gap: var(--componentInfo-img-gap);
}

.sg-dropDown-contentAulas {
    padding-right: 0.5em;
}

.sg-output {
    margin: 0.15em 0;
}

.sg-aulaLibre {
    border: 2px solid var(--aula-libre-border-color);
    background-color: var(--aula-libre-bg-color);
}

.sg-aulaLibre:hover {
    background-color: var(--aula-libre-hover-bg-color);
}

.sg-aulaOcupada {
    border: 2px solid var(--aula-ocupada-border-color);
    background-color: var(--aula-ocupada-bg-color);
}

.sg-aulaOcupada:hover {
    background-color: var(--aula-ocupada-hover-bg-color);
}

.select-filter {
    display: flex;
    background-color: var(--button-border-color);
    color: white;
    padding: 0.5rem;
    border: 1px solid var(--button-border-color);
    border-radius: 5rem;
    cursor: pointer;
    gap: 0.5rem;
    margin-bottom: 0.5rem;
}

.select-filter:hover {
    background-color: var(--button-hover-bg-color);
}

.option-filter {
    background-color: var(--button-border-color);
}

.sg-buttonOption {
    color: white;
    background-color: var(--button-option-bg-color);
    border: none;
    border-radius: 0.5em;
    cursor: pointer;
}

.sg-buttonOption:hover {
    background-color: var(--button-option-hover-bg-color);
}

.sg-buttonOption:active {
    background-color: var(--button-option-active-bg-color);
}

.sg-buttonInfo {
    color: var(--button-info-text-color);
    background-color: var(--button-info-bg-color);
    border: none;
    border-radius: 0.5em;
    cursor: pointer;
}

.sg-buttonInfo:hover {
    background-color: var(--button-info-hover-bg-color);
}

.button-group button {
    color: var(--button-text-color);
    background-color: var(--button-bg-color);
    padding: var(--padding-button) 1rem;
    border: 1px solid var(--button-border-color);
    border-radius: var(--button-radius);
    cursor: pointer;

    margin: 0.1em;
}

.button-group button.active {
    background-color: var(--button-active-bg-color);
    color: var(--button-text-color);
    border: none;
}

.button-group button:hover {
    background-color: var(--button-hover-bg-color);
}

h1.sg-dropDown-h1 {
    color: white;
    font-size: var(--dropdown-fontH1-size);
}

time, span {
    color: white;
    font-size: var(--dropdown-fontTime-size);  
}

/* --header-font-size */
time.sg-header-font, span.sg-header-font, button.sg-header-font{
    font-size: var(--header-font-size);
    
}

input.sg-header-font {
    font-size: var(--header-font-size);
    padding-right: var(--header-content-padding);
}

input.sg-header-font::placeholder{
    display: var(--header-children-display);
}

button, select {
   font-size: var(--button-font-size); 
}

.sg-output{
    display: flex;
    align-items: center;
  
    padding-right: 2rem;
    padding: var(--dropdown-output-padding) ;
    
    color: white;
  
    border: 2px solid none;
    border-radius: 1.5rem;
  }

/**************************************** OPTION *******************************************************/

.sg-dropDownOption-content, .sg-dropDownOption-buttonOption {
    gap: 0.5em 0;
}

/* .sg-dropDownOption-buttonOption {
    margin: 0.5em 0;
    gap: 0.5em 0;
    padding: 0.5em 1em;
} */

.sg-buttonOption{
    margin-right: 0.5em; 
}

.sg-buttonOption:last-child {
    margin-right: 0; /* Elimina el margen derecho del último botón */
}