/* Tablet Vertical */
@media (orientation: portrait) {
  main { padding: 20px; }

  @media (orientation: portrait) {
    :root {
      --component-width: 90%;
      --component-gap: 0.5rem;
      /* --component-left: 0.5rem; */
      --component-right: 0.5rem;
      --component-top: 1rem;
      --component-bottom: 1rem;
      --component-position: fixed;
      --component-z-index: 10;
      --dropdown-max-height: 100px;
      --map-width: 100%;
      --map-height: 200%;
      --map-transform-duration: 0.4s;
      --button-size: 1.8em;
      --divider-height: 1.5rem;
      --divider-color: #ccc;
      --input-bg-color: transparent;
      --dropdown-top: 25%;
      --dropdown-right: 0.5%;
      --dropdown-z-index: 15;
      --map-container-overflow: hidden;
      --map-interactive-z-index: 5;
      --button-option-size: 2.8em;
      --button-info-height: 1.3em;
  
      /* FONT-SIZE */
      --zoom-button-font-size: 0.9rem;
      --header-font-size: 1rem;
      --dropdown-fontH1-size: 0.7rem;
      --dropdown-fontTime-size: 0.7rem;
      --button-font-size: 0.55rem;
      --info-text-font-size: 0.85rem;
      --option-font-size: 0.8rem;
  
      /* GAP */
      --dropdown-infoContent-gap: 0.1em;
  
      /* PADDING */
      --dropdown-output-padding: 0.25em;
      --dropdown-contentAula-padding: 0em;

      /* WIDTH and HEIGTH */
      --dropdown-svg-width: 15px;

      /* DISPLAY */
    --header-children-display: flex;
    --dropdown-children-display: none;
    }
  }

}

/* ***************************************************************************************************** */
/* Tablet Horizontal */
@media (orientation: landscape) {
  main { padding: 0px; }

  :root {
    --component-width: 94%;
    --component-gap: 0.55rem;
    --component-left: 0.55rem;
    --component-top: 0.825rem;
    --component-bottom: 0.825rem;
    --component-position: fixed;
    --component-z-index: 10;
    --dropdown-max-height: 82.5px;
    --map-width: 110%;
    --map-height: 220%;
    --map-transform-duration: 0.495s;
    --button-size: 2.1em;
    --divider-height: 1.825rem;
    --divider-color: #ccc;
    --input-bg-color: transparent;
    --dropdown-top: 13.25%;
    --dropdown-right: 0.275%;
    --dropdown-z-index: 15;
    --map-container-overflow: hidden;
    --map-interactive-z-index: 5;
    --button-option-size: 3.2em;
    --button-info-height: 1.5em;

    /* FONT-SIZE */
    --zoom-button-font-size: 1rem;
    --header-font-size: 1.2rem;

    --dropdown-fontH1-size: .75rem;
    --dropdown-fontTime-size: .75rem;
    --button-font-size: .6rem;
  
    --info-text-font-size: 0.9rem;
    --option-font-size: 0.85rem;

    /* GAP */
    --dropdown-infoContent-gap: 0.1em;

    /* PADDING */
    --dropdown-output-padding: 0.30em;
    --dropdown-contentAula-padding: 0em;

    /* WIDTH and HEIGTH */
    --dropdown-svg-width: 15px;

    /* DISPLAY */
    --header-children-display: flex;
    --dropdown-children-display: none;
  }

}